<form (ngSubmit)="onSubmit(date)" #createForm="ngForm">
  <div class="form-group">
    <label for="date">Miesiąc budżetu</label>
    <!--<input type="text" id="date" required value="model.date"
           [(ngModel)]="model.date" name="date" #date="ngModel" />-->

    <bs-datepicker-inline class="form-control-file"
                          [(ngModel)]="model.month"
                          [(bsValue)]="model.month"
                          (bsValueChange)="diag(date)"
                          [bsConfig]="bsConfig"></bs-datepicker-inline>

    <!--<div class="alert alert-danger"
         *ngIf="date.invalid && (date.dirty || date.touched)">
      <div *ngIf="date.errors.required">
        Miesiąc budżetu jest wymagany.
      </div>
      <div *ngIf="date.errors.bsDate && date.errors.bsDate.invalid">
        Nieprawidłowy format daty.
      </div>
    </div>-->
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!createForm.form.valid">Stwórz</button>
</form>
